<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/estilos.css" rel="stylesheet">
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/app.js"></script>
    </head>
    <div class="container">
        <div id="cabecera">
            <div id="titulo">
                <div id="logo"><img src="/public/imgs/contactos_logo.png" /></div>
                <div id="textotitulo">Contactos</div>
            </div>
            <a class="btn btn-secondary" href="/">Inicio</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/contactos">Filtrar Contactos</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/nuevo_contacto">Nuevo contacto</a>&nbsp;&nbsp;&nbsp;        
        </div>            