<%- include('cabecera'); %>
<h1>Ficha de contacto</h1>

<% if (contacto.length > 0) { %>

<% if (contacto.imagen != "null") { %>
    <div>
        <img src="<%= contacto[0].imagen %>" alt="imagen <%= contacto[0].nombre %>" class="rounded float-left mr-4" style="height: 150px">
    </div>
<% } %>

<ol>
    <li>
        <p><strong>Nombre: </strong><%= contacto[0].nombre %></p>
    </li>
    <li>
        <p><strong>Edad: </strong><%= contacto[0].edad %></p>
    </li>
    <li>
        <p><strong>Teléfono: </strong><%= contacto[0].telefono %></p>
    </li>
</ol>
<% } else { %>
    <h5>No se ha encontrado ese contacto</h5>
<% } %>
<%- include('pie'); %>