<%- include('cabecera'); %>
<h1>Listado de contactos</h1>

<% if (error == true) { %>
<div class="alert alert-danger">
        Error al borrar el contacto
</div>
<% } if (error == false) { %>
<div class="alert alert-success">
        Contacto borrado correctamente
</div>
<% } %>

<div id="menu">
        <div class="mb-5" id="menuFiltroTipo">
                <div class="form-group">
                        <label for="edad">Tipo:</label>
                        <select class="form-control" name="tipo" id="selectTipo" onchange="filtrarContacto()">
                                        <option value="noSelected" selected>SELECCIONA UNA OPCIÓN</option>
                                <% tipos.forEach(tipo => { %>
                                        <option id="tipo" value=<%= tipo.id %>><%= tipo.tipo %></option>
                                <% }) %>
                        </select>
                </div>
                <a href="/contactos/" id="enlaceFiltrarTipo" class="btn btn-secondary mr-3">Enviar</a>
                <a onclick="generarFiltrosEdadTelefono()" id="enlaceFiltrar" class="btn btn-secondary text-white">Cambiar Filtros</a>
        </div>

        <div class='mb-5' id='menuFiltroEdadTelefono' style="display: none">
                <div class='form-group'>
                        <label for='edad'>Edad: </label>
                        <input type='number' min='0' max='120' id='edad' class='form-control' onchange="generarEnlaceEdadTelefono()">
                        </div>
                        <div class='form-group'>
                        <label for='telefono'>Telefono: </label>
                        <input type='text' id='telefono' class='form-control' onchange="generarEnlaceEdadTelefono()">
                        </div>
                <a href='/contactos/0/0' id='enlaceFiltrarEdadTelefono' class='btn btn-secondary mr-3'>Enviar</a>
                <a onclick='generarFiltrosTipo()' id='enlaceFiltrar' class='btn btn-secondary text-white'>Volver</a>
        </div>
</div>

<% if (contactos.length > 0) { %>
<ul>
    <% contactos.forEach(contacto => { %>
    <li>
        <h5 id="borrarContacto" value="<%= contacto.id %>"><%= contacto.nombre %> Edad: <%= contacto.edad %><a href="/contactos/<%= contacto.id %>"> Ver ficha:    </a><a onclick="borrarContacto()" class="btn btn-danger text-white">Borrar Contacto</a></h5>
    </li>
    <% }) %>
</ul>
<% } else { %>
        <h5>No hay contactos con esos filtros</h5>
<% } %>

<%- include('pie'); %>