<%- include('cabecera'); %>

<h1>Formulario de alta de nuevo contacto</h1>

<% if (error == true) { %>
<div class="alert alert-danger">
        <%= MensajeError %>
</div>
<% } if (error == false) { %>
<div class="alert alert-success">
        <%= MensajeError %>
</div>
<% } %>

<form action="/contactos" method="post" enctype="multipart/form-data" id="nuevo-contacto" name="nuevo-contacto">
<div class="form-group">
<label for="nombre">Nombre:</label>
<input type="text" class="form-control" id="nombre" name="nombre" />
</div>
<div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" class="form-control" id="telefono" name="telefono" />
</div>
<div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" class="form-control" id="edad" name="edad" />
</div>
<div class="form-group">
        <label for="edad">Tipo:</label>
        <select class="form-control" name="tipo" id="tipo">
                        <option value="noSelected" selected>SELECCIONA UNA OPCIÓN</option>
                <% tipos.forEach(tipo => { %>
                        <option value=<%= tipo.id %>><%= tipo.tipo %></option>
                <% }) %>
        </select>
</div>
<div class="form-group">
        <label for="imagen">Imagen:</label>
        <input class="form-control" id="imagen" name="imagen" type="file" />
</div>
<button class="btn btn-secondary">Enviar</button>
</form>
<%- include('pie'); %>